@font-face {
    font-family: PlaywriteDEGrund-VariableFont;
    src: url('./Playwrite_DE_Grund/PlaywriteDEGrund-VariableFont_wght.ttf');
}

h1 {
    background-color: chocolate;
    font-family: initial;
    border: inherit; 
}
.anottation {
    font-size: 20px;
}

#Subscribe-btn {
    color: red;
}
body {
    font-family: monospace;
    border: 5px blue solid;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}


/*subscribe-btn :  kebab-case;
subscribeBtn :   camelCase
                 lowerCamelCase
                 UpperCamelCase (PaskalCase)
                 
                 subscribe_btn :   snake_case  
                 I_AM_NATALIIA
                 */          
                
                 